In [1]:
import numpy as np #numerical computation
import pandas as pd #data wrangling
import matplotlib.pyplot as plt #plotting package
#Next line helps with rendering plots
%matplotlib inline
import matplotlib as mpl #add'l plotting functionality
import seaborn as sns #a fancy plotting package
mpl.rcParams['figure.dpi'] = 400 #high res figures

Load data

In [2]:
df = pd.read_csv('../Data/Chapter_1_cleaned_data.csv')

In [3]:
group_by_pay_mean_y = df.groupby('PAY_1').agg(
    {'default payment next month':np.mean})
group_by_pay_mean_y

       default payment next month
PAY_1
-2                       0.131664
-1                       0.170002
 0                       0.128295
 1                       0.336400
 2                       0.694701
 3                       0.773973
 4                       0.682540
 5                       0.434783
 6                       0.545455
 7                       0.777778
 8                       0.588235

# Scope of Functions

In [4]:
Y

NameError: name 'Y' is not defined

In [5]:
example_global_variable = 1

In [6]:
def example_function():
    output = example_global_variable + 1
    return(output)

In [7]:
example_function()

2

# Exercise 14: Examining the Appropriateness of Features for Logistic Regression

In [8]:
group_by_pay_mean_y

       default payment next month
PAY_1
-2                       0.131664
-1                       0.170002
 0                       0.128295
 1                       0.336400
 2                       0.694701
 3                       0.773973
 4                       0.682540
 5                       0.434783
 6                       0.545455
 7                       0.777778
 8                       0.588235

In [9]:
p = group_by_pay_mean_y['default payment next month'].values
q = 1-p
print(p)
print(q)

[0.13166397 0.17000198 0.12829525 0.33639988 0.69470143 0.7739726
 0.68253968 0.43478261 0.54545455 0.77777778 0.58823529]
[0.86833603 0.82999802 0.87170475 0.66360012 0.30529857 0.2260274
 0.31746032 0.56521739 0.45454545 0.22222222 0.41176471]

In [10]:
odds_ratio = p/q
odds_ratio

array([0.15162791, 0.20482215, 0.14717742, 0.50693161, 2.27548209,
       3.42424242, 2.15      , 0.76923077, 1.2       , 3.5       ,
       1.42857143])

In [11]:
log_odds = np.log(odds_ratio)
log_odds

array([-1.88632574, -1.58561322, -1.91611649, -0.67937918,  0.82219194,
        1.23088026,  0.76546784, -0.26236426,  0.18232156,  1.25276297,
        0.35667494])

In [12]:
group_by_pay_mean_y.index

Int64Index([-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64', name='PAY_1')